
{{ form_start(formA) }}
            <div class="form-group">
                {{ form_row(formA.username)  }} 
            </div>
            <div class="form-group">
                {{ form_row(formA.email)  }} 
            </div>
        {{ form_end(formA) }}
    </div>